.contactpage {
  background: grey;
  height: 100vh;
  padding-top: 300px;
}

.formbox {
  max-width: 700px;
}

.email {
  background: red;
}

.linkedin {
  background: blue;
}

.phone {
  background: green;
}

.other {
  padding-top: 200px;
}
